img 
{  
border-style: none;
}

body 
{
background-color: #d3e6af;
}

#status-green
{
text-align:center;
margin-left:auto;
margin-right:auto;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-size:12px; 
color:red;
padding:5px;
font-weight:bold;
}

#status-red
{
text-align:center;
margin-left:auto;
margin-right:auto;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-size:10px; 
color:green;
padding:5px;
font-weight:bold;
}

#login
{
padding:10px;
margin-right:auto;
margin-left:auto;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-size:12px; 
color: #333333;
text-align:center;
}

#header
{
padding:10px;
margin-right:auto;
margin-left:auto;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-size:12px; 
color: #333333;
text-align:center;
border-bottom: 1px solid #333333;
width: 1280px
}

#main 
{
text-align:center;
margin-right:auto;
margin-left:auto;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-size:12px; 
color: #333333;
text-align:center;
padding: 10px;
}


#footer
{
padding:10px;
width: 1280px;
border-top: 1px solid #333333;
margin-right:auto;
margin-left:auto;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-size:10px; 
color: #333333;
text-align:center;
}

#notice
{
width: 700px;
margin-right:auto;
margin-left:auto;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-size:11px;
font-weight:bold; 
background-color: #f2ff3e;
color: black;
text-align:center;
padding: 5px;
margin-top: 10px;
margin-bottom: 10px;
}

table { background:white;
 border:1px solid gray;
 border-collapse:collapse;
 color:rgb(0, 0, 0);
 font:normal 12px verdana, arial, helvetica, sans-serif;
 margin-left:auto;
 margin-right:auto;
 width:1100px;
}
